
name: build_check

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "v20.11.0"
      - name: Create .env file
        run: echo NEXT_PUBLIC_PROJECT_ID="dummydummydummydummydummydummydu" > .env
      - name: Install Dependencies
        run: npm ci
      - name: check-build
        run: npm run build